body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
  z-index: 500;
  cursor: pointer;
}

.bannerSize {

  width: 160px;
  height: 600px;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
/* @font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
} */



@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url('./fonts/ESKlarheitGrotesk-Xbd.woff2') format('woff2'),
    url('./fonts/ESKlarheitGrotesk-Xbd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url('./fonts/ESKlarheitGrotesk-Smbd.woff2') format('woff2'),
    url('./fonts/ESKlarheitGrotesk-Smbd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




.full-width {
  width: 160px;
  height: 600px;
}

.copy1,
.copy2,
.copy3 {
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  will-change: transform;
  color: #fff;
  text-align: center;
}


.copy4 {
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  will-change: transform;
  color: #fff;
  text-align: center;
}

.copy1 {}

.copycomman {
  line-height: 29px;
  font-size: 30px;
  letter-spacing: 0;
  position: absolute;
}


.c1 {
  top: 77px;
  left: 47px;
}

.c2 {
  top: 111px;
  left: 31px;
  font-weight: bold;
  color: #fff;
  letter-spacing: -0.3px;
}

.c7 {
  position: absolute;
  top: 137px;
  left: 8px;
  font-size: 46px;
  letter-spacing: -1px;
  line-height: 62px;
  color: #0000aa;
}

.seprator {
  position: absolute;
  top: 123px;
  width: 104px;
  height: 4px;
  background: #fff;
  left: 28px;
}

.c3 {
  top: 195px;
  left: 34px;
  font-weight: 800;
}

.c4 {
  top: 229px;
  left: 33px;
  letter-spacing: -0.5px;
}

.c4 sup {
  top: 2px;
  position: relative;
  left: -1px;
  font-size: 22px;
  /* font-family: "ESKlarheitGrotesk Smbd"; */
}




.copy2 .c1 {
  top: 77px;
  left: 34px;
}

.copy2 .c2 {
  top: 112px;
  left: 25px;
  color: #fff;
}

.copy2 .c3 {
  top: 195px;
  left: 18px;
  letter-spacing: -0.3px;


}

.copy2 .c7 {
  top: 138px;
  left: 25px;
}

.copy2 .c4 {
  top: 229px;
  left: 34px;
  color: #fff;
  letter-spacing: -0.3px;
}







.copy3 .c1 {
  top: 76px;
  left: 17px;
  font-size: 28px;
  letter-spacing: -0.9px;
}

.copy3 .c2 {
  top: 106px;
  left: 10px;
  color: #0000aa;
  font-size: 27px;
  letter-spacing: -0.9px;
}

.copy3 .c3 {
  top: 137px;
  left: 33px;
  letter-spacing: -0.3px;
  font-size: 27px;
  letter-spacing: -0.9px;


}

.copy3 .c7 {
  top: 138px;
  left: 25px;
}

.copy3 .c4 {
  top: 167px;
  left: 11px;
  color: #fff;
  letter-spacing: 0.3px;
  font-size: 25px;
  line-height: 30px;
}





.copy4 .c1 {
  top: 76px;
  left: 14px;
  font-size: 28px;
  letter-spacing: -0.9px;
  color: #0000aa;
}

.copy4 .c2 {
  top: 106px;
  left: 28px;
  color: #0000aa;
  font-size: 27px;
  letter-spacing: -0.77px;

}

.copy4 .c3 {
  top: 137px;
  left: 32px;
  letter-spacing: -0.3px;
  font-size: 26px;
  letter-spacing: -0.3px;
  color: #ff6433;


}

.copy4 .c7 {
  top: 138px;
  left: 25px;
}

.copy4 .c4 {
  top: 182px;
  left: 15px;
  color: #ff6433;
  letter-spacing: -0.1px;
  font-size: 26px;
  line-height: 0;
}








.copy2 {
  /* line-height: 22px;
  font-size: 19.1px;
  top: 86px;
  left: 0px;
  letter-spacing: -1px; */
}

.copy2 span {
  color: #000766;
}

.copy2 sup {
  font-size: 10px;
  vertical-align: top;
  line-height: 0;
  position: relative;
  top: 7px;
  left: 1px;
}


.copy4 {

  font-size: 25px;
  line-height: 23.5px;
  letter-spacing: -0.5px;
}

.copy4 span {
  color: #00e1ff;
}

.last-frame {
  width: 100%;
  height: 600px;
  background-color: #fff;
  transform: translateY(600px);
  will-change: transform;
}

#cta {
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #ff6433;
  display: inline-block;
  font-size: 13px;
  top: 234px;
  left: 12px;
  width: 134px;
  height: 35.5px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 2px;
}

.term {
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  width: 100%;
  font-size: 6.2px;
  top: 411px;
  left: 112px;
  line-height: 10px;

}

#termlast {
  top: 411px;
  left: 112px;
  color: #0000aa;
}


/* Shine effect */
#shine {
  top: 41px;
  left: 0px;
  width: 160px;
  height: 600px;
  background-image: url(./images/shine.png);
  background-size: contain;
  background-position: -135px 0;
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-size: 160px 600px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
}