body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
  z-index: 500;
  cursor: pointer;
}

.bannerSize {

  width: 160px;
  height: 600px;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


.full-width{
  width: 160px;
  height: 600px;
}
.copy1, .copy2, .copy3, .copy4{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  will-change: transform;
  color: #fff;
  text-align: center;
}
.copy1{
  line-height: 28.5px;
  font-size: 26px;
  top: 43px;
  left: 0px;
  letter-spacing: -1px;
}
.copy1 span{
  color: #000064;
}
.copy2{
  line-height: 22px;
  font-size: 20px;
  top: 45px;
  left: 0px;
  letter-spacing: -1px;
}
.copy2 span{
  color: #000766;
}

.copy2 sup{
  font-size: 10px;
  vertical-align: top;
  line-height: 0;
  position: relative;
  top: 7px;
  left: 1px;
}
.copy3{
  top: 44px;
  left: 0px;
  font-size: 19.5px;
  line-height: 22px;
  color: #fff;
  letter-spacing: -0.5px;
}
.copy3 span{
  color: #000766;
}
.copy4{
  top: 44px;
  left: 0px;
  font-size: 19.5px;
  line-height: 22px;
  color: #fff;
  letter-spacing: -0.5px;
}
.copy4 span{
  color: #00e1ff;
}
.last-frame{
  width: 100%;
  height: 600px;
  background-color: #fff;
  transform: translateY(600px);
  will-change: transform;
}
#cta{
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #00e1ff;
  display: inline-block;
  font-size: 13.4px;
  top: 164.5px;
  left: 27px;
  width: 106px;
  height: 35.5px;
  color: #000064;
  text-align: center;
  line-height: 35px;
  border-radius: 4px;
}

.term{
  font-family: "ESKlarheitGrotesk Smbd";
  color: #000064;
  width: 100%;
  font-size: 7.1px;
  top: 338px;
  left: 110px;
}
#termlast{
  top: 338px;
  left: 110px;
  color: #fff;
}


/* Shine effect */
#shine {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  background-image: url(images/shine.png);
  background-size: contain;
  background-position: -113px 0;
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(images/mask.png);
  -webkit-mask-size: 160px 600px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(images/mask.png);
}