body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 728px;
  height: 90px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
  z-index: 500;
  cursor: pointer;
}


:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url('./fonts/ESKlarheitGrotesk-Xbd.woff2') format('woff2'),
    url('./fonts/ESKlarheitGrotesk-Xbd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url('./fonts/ESKlarheitGrotesk-Smbd.woff2') format('woff2'),
    url('./fonts/ESKlarheitGrotesk-Smbd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




.full-width {
  width: 728px;
  height: 90px;
}

.copy1,
.copy2,
.copy3,
.copy4 {
  font-family: "ESKlarheitGrotesk Xbd";
  color: #fff;
  width: 100%;
  will-change: transform;
}

.copy1 {
  top: 31px;
  left: 23px;
  font-size: 21px;
  /* line-height: 24.5px; */
  letter-spacing: -0.3px;
}

.copy1 .ce {
  top: 0px;
  left: 0;
  position: absolute;
  letter-spacing: -0.69px;
}

.seprator {
  background: #fff;
  height: 2px;
  position: absolute;
  width: 69px;
  left: 47px;
  top: 13px;
}

.copy1 .c7 {
  color: #0000aa;
  font-size: 47px;
  position: absolute;
  top: -16px;
  left: 123px;
  letter-spacing: -0.5px;
}

.copy1 .cb {
  top: -1px;
  left: 281px;
  font-size: 21px;
  /* line-height: 24.5px; */
  letter-spacing: -0.8px;
  position: absolute;
}







.copy2 {
  top: 31px;
  left: 23px;
  font-size: 21px;
  /* line-height: 24.5px; */
  letter-spacing: -0.3px;
}

.copy2 .ce {
  top: 0px;
  left: 0;
  position: absolute;
  letter-spacing: -0.59px;
}

.copy2 .c7 {
  color: #0000aa;
  font-size: 47px;
  position: absolute;
  top: -16px;
  left: 145px;
  letter-spacing: -0.5px;
}

.copy2 .cb {
  top: -1px;
  left: 268px;
  font-size: 21px;
  /* line-height: 24.5px; */
  letter-spacing: -0.8px;
  position: absolute;
}





.last-frame {
  width: 100%;
  height: 90px;
  background-color: #fff;
  transform: translateX(728px);
  will-change: transform;
}

.copy3 {
  top: 19.1px;
  left: 24px;
  font-size: 19.7px;
  line-height: 25px;
  letter-spacing: -0.15px;
}

.copy3 span {
  color: #000766;
}

.copy4 {
  left: 23px;
  top: 16px;
  font-size: 23px;
  letter-spacing: 0.1px;
  line-height: 29px;
}


#cta {
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #ff6433;
  display: inline-block;
  font-size: 10.5px;
  top: 30px;
  left: 296px;
  width: 115px;
  height: 29px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
}


.term {
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  width: 100%;
  font-size: 4.4px;
  top: 74px;
  left: 544px;
  letter-spacing: 0px;
}

#termlast {
  color: #0000aa;
  top: 74px;
  left: 544px;
}

/* Shine effect */
#shine {
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  background-image: url(./images/shine.png);
  background-position: 230px 0;
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-size: 728px 90px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
}